
services:
  ms_gestion_academica:
    image: ms_gestion_academica:v1.0.0
    build:
      context: .
      dockerfile: Dockerfile

    deploy:
      replicas: 2

    env_file:
      - .env.production

    environment:
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresql-servidor:5432/${POSTGRES_DB}?schema=public"
      REDIS_URL: "redis://${REDIS_HOST}:${REDIS_PORT}"

    networks:
      mired:
        aliases:
          - academica.universidad.localhost
    

    labels:
       - "traefik.enable=true"
       - "traefik.http.routers.ms_gestion_academica.rule=Host(`academica.universidad.localhost`)"
       - "traefik.http.routers.ms_gestion_academica.tls=true"
       - "traefik.http.services.ms_gestion_academica.loadbalancer.server.port=5003"
       # Patron Circuit Breaker
       - "traefik.http.middlewares.ms_gestion_academica.circuitbreaker.expression=LatencyAtQuantileMS(50.0) > 100"
       - "traefik.http.middlewares.ms_gestion_academica.circuitbreaker.expression=ResponseCodeRatio(500, 600, 0, 600) > 0.25"
       - "traefik.http.middlewares.ms_gestion_academica.circuitbreaker.expression=NetworkErrorRatio() > 0.5"         
       - "traefik.docker.network=mired"
       
networks:
  mired:
    external: true
