
services:
  ms_gestion_academica:
    image: ms_gestion_academica:v1.0.0
    build:
      context: .
      dockerfile: Dockerfile

    deploy:
      replicas: 2

    env_file:
      - .env.production

    environment:
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgresql-servidor:5432/${POSTGRES_DB}?schema=public"

    networks:
      - mired

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ms_gestion_academica.rule=Host(`api.universidad.localhost`)"
      - "traefik.http.routers.ms_gestion_academica.entrypoints=websecure"
      - "traefik.http.routers.ms_gestion_academica.tls=true"
      - "traefik.http.services.ms_gestion_academica.loadbalancer.server.port=5003"
      - "traefik.docker.network=mired"
networks:
  mired:
    external: true
